<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" >
    <title>.links</title>
</head>

<body>

    <div id="links-app" >
        <links :links_list="links" ></links>
    </div> 

    <template id="links-tmpl" >
        <h1>Links({{ "{{ links_list.length }}" }})</h1>
        <ul>
            <li v-for="link in links_list" >
                {{ "{{ link.Title }}" }}

                <strong @click="deleteLink(link)" >X</strong>
            </li>
        </ul>

        <button @click="authoriseUser()" >Authorise</button>
    </template>

    <script type="text/javascript" src="assets/js/vue.js" ></script>
    <script type="text/javascript" src="assets/js/vue-resource.min.js" ></script>
    <script type="text/javascript" src="assets/js/main.js" ></script>
</body>
</html>
